* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.crear-usuario {
    display: none;
}

.lista-usuarios {
    margin: 20px;
    .btn {
        width: 40%;
    }
}
.lista-usuarios_header {
    display: flex;
    align-items: center;
    padding: 10px 0;    
    h6 {
        margin: 0;
    }
}

body {
    position: relative;
}

.boton {
    margin-right: 90px;
    padding: 5px 30px 6.5px 30px;
    background-color: black;
    color: white;
    border: none;        
}

.table {
    background-color: #F7F7F7;
}