* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.crear-usuario {
    display: none;
}

.lista-usuarios {
    margin: 20px;
    .btn {
        width: 40%;
    }
}
.lista-usuarios_header {
    display: flex;
    align-items: center;
    padding: 10px 0;    
    h6 {
        margin: 0;
    }
}

body {
    position: relative;
}

.table {
    background-color: #F7F7F7;
}