* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}
.container {    
    flex-grow: 1;   
    .align-container {        
        display: flex;
        flex-flow: column;
        margin-top: 50px;
        form {            
            padding: 10px 50px 10px 50px;
            border: solid 5px lightgray;
            margin: auto;
            div {
                display: flex;
                flex-flow: column;
                margin: 20px;
                p {
                    margin: 1px;
                }
            }
        }        
    }
}

