.container {    
    flex-grow: 1;   
    display: flex;
    justify-content: center;
    padding: 0;
    .align-container {   
        width: 60%;
        display: flex;
        flex-flow: column;
        margin-top: 50px;
        .content {            
            padding: 10px 50px 10px 50px;
            border: solid 5px lightgray;
            div {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }        
    }
}

.botones {
    display: flex;
    justify-content: space-between;
    .boton {
        margin: 0;
    }
}