.container1 {
  margin: 20px;
}

.botones {
  margin-bottom: 15px;
}
#customers th {
  padding: 20px;
  text-align: left;
  background-color: #F7F7F7;
}
#customers .row-boton {
  text-align: center;
}

.bloqueExp, table {
    border: 1px solid lightgray;
}



