.container {    
    flex-grow: 1;   
    .align-container {        
        display: flex;
        flex-flow: column;
        margin-top: 50px;
        form {            
            padding: 10px 50px 10px 50px;
            border: solid 5px lightgray;
            margin: auto;
            div {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .nombre-apellido {
                display: flex;
                div {
                    margin-right: 20px;
                }
            }
            .datos {
                display: flex;
                flex-flow: column;
                textarea {
                    border-color: lightgray;
                    border-radius: 5px;
                    &:focus {
                        color: #495057;
                        background-color: #fff;
                        border-color: #80bdff;
                        outline: 0;
                        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25)
                    }
                }
            }
        }        
    }
}

.boton {
    width: 70%;
    margin: 30px 15% 30px 15%;
}